#intro {
	z-index: 1000;
	display: none;
}

/*#select {
	height: calc(100% + 60px);
    overflow-y: auto;
    will-change: transform;
    backface-visibility: hidden;
}*/

#slide-out {
    width: 190px;
    margin: 0px;
    /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);*/
    height: calc(100% + 60px);
    position: fixed;
    left: 10px;
    top: 90px;
    margin: 0;
    /*height: calc(100% + 60px);*/
    padding-bottom: 60px;
    background-color: transparent;
    z-index: 0;
    overflow-y: auto;
    will-change: transform;
    backface-visibility: hidden;
}

#slide-out a {
	height: 70px;
	margin-top: 10px;
	padding-right: 50px;
	padding-top: 25px;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 20px;
}

#j1 {
	background-image: url("../image/j1.png");
	background-size: 70px 70px;
	background-repeat: no-repeat;
}

#j1.active {
	background-image: url("../image/jigsaw1.png");
}

#j1:hover {
	background-image: url("../image/jigsaw1.png");
}

#j2 {
	background-image: url("../image/j2.png");
	background-size: 70px 70px;
	background-repeat: no-repeat;
}

#j2.active {
	background-image: url("../image/jigsaw2.png");
}

#j2:hover {
	background-image: url("../image/jigsaw2.png");
}

#j3 {
	background-image: url("../image/j3.png");
	background-size: 90px 70px;
	background-repeat: no-repeat;
}

#j3.active {
	background-image: url("../image/jigsaw3.png");
}

#j3:hover {
	background-image: url("../image/jigsaw3.png");
}

.main-page {
	padding-top: 70px;
	padding-left: 210px;
}

.brand-logo {
	margin-left: 30px;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Gloria Hallelujah', cursive;
	font-weight: 500;
	color: #ffd54f !important;
}

#nav-mobile li {
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
}

nav {
	/*background-color: #1e88e5 !important;*/
	background-color: #21acc1 !important;
	position: fixed;
	z-index: 100;
}

.step {
	font-family: 'Luckiest Guy', cursive;
	font-size: 14px;
	padding: 20px;
}

.button {
	cursor: pointer;
}

#learn {
	padding-top: 10px;
}

.button {
	padding: 10px 10px;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
}

.button:hover {
	font-family: 'Raleway', sans-serif;
	color: #21acc1;
	border: 1px solid #21acc1;
	border-radius: 30px;
}

#expert1 {
	display: none;
	padding-bottom: 50px;
}

#expert2 {
	display: none;
}

.jigpart {
	/*padding-bottom: 70px;*/
}

#learn .quiz {
	display: none;
}

.quiz {
	padding-top: 80px;
	width: 60%;
	margin: auto;
}

.instruction {
	padding-top: 20px;
	padding-bottom: 30px;
}

.fb-btn {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	color: #fff;
	background-color: #21acc1;
	border: 1px solid #21acc1;
	border-radius: 30px;
	padding: 5px 20px;
}
.quiz .input-field {
	margin-top: 80px;
	border-top: 1px solid #9e9e9e;
}

#learn .title {
	padding-top: 10px;
	padding-bottom: 0px;
	/*padding-left: 70px;*/
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
}

#learn .subtitle {
	padding-top: 20px;
	/*padding-left: 70px;*/
	font-family: 'Luckiest Guy', cursive;
	font-size: 14px;
}

#teach .title {
	padding-top: 10px;
	padding-bottom: 0px;
	/*padding-left: 70px;*/
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
}

#teach .subtitle {
	padding-top: 20px;
	/*padding-left: 70px;*/
	font-family: 'Luckiest Guy', cursive;
	font-size: 14px;
}

#teach form {
	padding-bottom: 70px;
}

form label {
	color: #000 !important;
}

.quiz .check-icon {
	display: none;
	color: #26a69a;
	margin-right: 20px;
}

#teach {
	display: none;
	padding-top: 40px;
}

#teach .container {
	border-top: 1px solid #9e9e9e;
}

#expert1-teach {
	display: none;
}

#final-quiz {
	display: none;
}

#expert1-teach img {
	margin-top: 30px;
}