#slide-out {
    width: 200px;
    margin: 0px;
    /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);*/
    height: calc(100% + 60px);
    position: fixed;
    left: 10px;
    top: 90px;
    margin: 0;
    height: calc(100% + 60px);
    padding-bottom: 60px;
    background-color: transparent;
    z-index: 0;
    overflow-y: auto;
    will-change: transform;
    backface-visibility: hidden;
}

#slide-out a {
	height: 70px;
	margin-top: 10px;
	padding-right: 50px;
	padding-top: 25px;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 20px;
}

#j1 {
	background-image: url("../image/j1.png");
	background-size: 70px 70px;
	background-repeat: no-repeat;
}

#j1.active {
	background-image: url("../image/jigsaw1.png");
}

#j1:hover {
	background-image: url("../image/jigsaw1.png");
}

#j2 {
	background-image: url("../image/j2.png");
	background-size: 70px 70px;
	background-repeat: no-repeat;
}

#j2.active {
	background-image: url("../image/jigsaw2.png");
}

#j2:hover {
	background-image: url("../image/jigsaw2.png");
}

#j3 {
	background-image: url("../image/j3.png");
	background-size: 90px 70px;
	background-repeat: no-repeat;
}

#j3.active {
	background-image: url("../image/jigsaw3.png");
}

#j3:hover {
	background-image: url("../image/jigsaw3.png");
}

.main-page {
	padding-top: 64px;
}

.main-page div {
	height: 700px;
	text-align: center;
	/*z-index: -50;*/
}

label span {
	font-family: 'Raleway', sans-serif !important;
	font-weight: 500 !important;
	font-size: 10px;
}

.brand-logo {
	margin-left: 30px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	color: #ffd54f !important;
}

#nav-mobile li {
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
}

nav {
	/*background-color: #1e88e5 !important;*/
	background-color: #21acc1 !important;
	position: fixed;
}
